body{
    background-image: linear-gradient(to right, rgb(255, 128, 0),rgb(255, 247, 0));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}
fieldset{
    border: 3px solid rgb(255, 98, 0);
}
legend{
    border: none;
    padding: 10px;
    text-align: center;
    background-color:orange;
    border-radius: 5px;
    
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;
    font-size: 13px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#dataNascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}
#submit{
    background-color:orange;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#submit:hover{
    background-color:rgb(255, 204, 0);
    color:brown
}